.little-section {
  height: 100px;
  width: 100%;
  padding: 0 64px;

  @media (max-width: 600px) {
    padding: 0 32px;
  }

  &-mc {
    @media (max-width: 600px) {
      flex-direction: column;
      padding: 32px 0;
      height: 150px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 128px);
  gap: 16px;
  padding-bottom: 32px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(6, 128px);
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(5, 128px);
  }

  @media (max-width: 780px) {
    grid-template-columns: repeat(4, 128px);
  }

  @media (max-width: 620px) {
    grid-template-columns: repeat(3, 128px);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 128px);
  }
}

.card {
  background: $light;
  border-radius: 20px;
  width: 128px;
  height: 160px;
  padding-bottom: 16px;
  text-align: center;

  &__number {
    font-size: 10px;
  }

  &:hover {
    cursor: pointer;
    background: $grey;
    box-shadow: 0 0 0 3px $primary, 0 0 0 5px $light;
  }
}

.button {
  cursor: pointer;

  &:hover {
    path {
      fill: $dark;
    }
  }
}

.pokemon-desc {
  height: calc(100vh - 200px);

  &_img {
    width: 400px;
    height: 400px;
  }

  &_right {
    background: $light;
    width: 40%;
    padding: 48px;
    border-radius: 20px;

    h3 {
      font-size: 32px;
    }

    &_name {
      margin-bottom: 32px;
    }

    &_desc {
      margin-bottom: 32px;

      div {
        margin-bottom: 16px;
      }
    }

    &_stats {
      &--stat {
        margin-bottom: 8px;
      }
    }

    @media (max-width: 1100px) {
      &_desc {
        margin-bottom: 0;
      }
      &_stats {
        &--stat {
          flex-direction: column;
          margin-bottom: 6px;
        }

        p {
          margin-bottom: 4px;
        }
      }
    }

    @media (max-width: 450px) {
      &_desc--type {
        flex-direction: column;

        p {
          margin-bottom: 16px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
    height: auto;

    &_right {
      width: 90%;

      h3 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 600px) {
    &_img {
      width: 300px;
      height: 300px;
      margin-bottom: 16px;
    }
  }
}

.types {
  span {
    padding: 5px 20px;
    background: $grey;
    border-radius: 10px;
    color: $light;

    &:nth-child(2) {
      margin-left: 8px;
    }
  }

  .bug {
    background: #3b9950;
  }

  .dark {
    background: #5a5979;
  }

  .dragon {
    background: #61cad9;
  }

  .electric {
    background: #e3e32b;
  }

  .fairy {
    background: #ea1369;
  }

  .fighting {
    background: #ef6138;
  }

  .fire {
    background: #d7282e;
  }

  .flying {
    background: #93b2c7;
  }

  .ghost {
    background: #906790;
  }

  .grass {
    background: #27cb4f;
  }

  .ground {
    background: #6e491f;
  }

  .ice {
    background: #86d2f5;
  }

  .normal {
    background: #ca98a7;
  }

  .poison {
    background: #9b69d9;
  }

  .psychic {
    background: #f81c91;
  }

  .rock {
    background: #8b3e21;
  }

  .steel {
    background: #5f756d;
  }

  .water {
    background: #1552e2;
  }
}

.stat-bar {
  height: 16px;
  width: 200px;
  border-radius: 20px;
  background: $grey;

  &__value {
    background: $primary;
    border-radius: 20px;
    height: 16px;
    width: 0;
  }
}

.loader {
  border: 4px solid $light;
  border-top: 4px solid $primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
