.little-section {
  height: 100px;
  width: 100%;
  padding: 0 64px;

  @media (max-width: 600px) {
    padding: 0 32px;
  }

  &-mc {
    @media (max-width: 600px) {
      flex-direction: column;
      padding: 32px 0;
      height: 150px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 128px);
  gap: 16px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(6, 128px);
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(5, 128px);
  }

  @media (max-width: 780px) {
    grid-template-columns: repeat(4, 128px);
  }

  @media (max-width: 620px) {
    grid-template-columns: repeat(3, 128px);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 128px);
  }
}

.card {
  background: $light;
  border-radius: 20px;
  width: 128px;
  height: 160px;
  padding-bottom: 16px;

  &__number {
    font-size: 10px;
  }

  &:hover {
    cursor: pointer;
    background: $grey;
    box-shadow: 0 0 0 3px $primary, 0 0 0 5px $light;
  }
}

.button {
  cursor: pointer;

  &:hover {
    path {
      fill: $dark;
    }
  }
}

.pokemon-desc {
  height: calc(100vh - 200px);

  &_img {
    width: 400px;
    height: 400px;
  }

  &_right {
    background: $light;
    width: 40%;
    padding: 48px;
    border-radius: 20px;

    h3 {
      font-size: 32px;
    }

    &_name {
      margin-bottom: 32px;
    }

    &_desc {
      margin-bottom: 32px;

      div {
        margin-bottom: 16px;
      }
    }

    &_stats {
      div {
        margin-bottom: 8px;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    height: auto;

    &_right {
      width: 85%;

      h3 {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 600px) {
    &_img {
      width: 300px;
      height: 300px;
      margin-bottom: 16px;
    }
  }
}
